﻿@using LiSenseWEB.Controllers;
@{
    var menu = HomeController.GetMenuItems().OrderBy(x => x.OrderLevel);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <h2>@ViewBag.Title</h2>
                </p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        @foreach (Menu mItem in menu)
                        {
                            <li> @mItem.MenuName  &nbsp; &nbsp; &nbsp; &nbsp; 
                                <ul>
                                    @foreach (MenuItem mSubItem in mItem.menuItems)
                                    {
                                        <li>
                                            @Html.ActionLink(mSubItem.Name, mSubItem.ActionName, mSubItem.ControllerName)
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    

    <div id="body">
        <section class="content-wrapper">

            @RenderBody()

        </section>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>


@*Style for the dropdown menu*@
<style>
    body nav ul ul {
        display: none;
        position:absolute;
        width: 100%;
        font-size:small;
        background: black;
        border-top: 5px solid #5C87B2;
        filter:alpha(opacity=80);
        -moz-opacity:0.8;
        -khtml-opacity: 0.8;
        opacity: 0.7;
    }
    body nav ul ul li a{
        line-height: 2.1em;
        position: relative;
        float: left;
        margin-bottom:7px;
    }
    
</style>

@*Script for dropdown menu*@
<script>
    $(function () {
        $("body nav li").each(function () {
            if ($(this).find("ul").length > 0) {

                //show subnav on hover  
                $(this).mouseenter(function () {
                    $(this).find("ul").stop(true, true).slideDown();
                });

                //hide submenus on exit  
                $(this).mouseleave(function () {
                    $(this).find("ul").stop(true, true).slideUp();
                });

                $(this).find("ul").mousemove(function () {
                    $(this).stop(true, true).show();
                });
            }
        });
    });
</script>