﻿@{
    Layout = null;
}

<!DOCTYPE html>

@* This Layout does not load / render all the 'Modernizer' styles and layouts that seem to disrupt jQuery / JavaScript from executing... *@ 

<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"> </script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"> </script>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@RenderSection("scripts", required: true)*@
</body>
</html>
