﻿@using LiSense;
@using LiSenseWEB.Controllers;
@model LicenseDetail

@{
    Layout = "~/Views/Shared/_LayoutWithJavaScript.cshtml";
    var licenseLevels = LiSenseWEB.Controllers.AdminController.GetEnumValues(typeof(LicenseSubscription.LicenseType));
}


<p>
    <div class="featured" >
        @using (Html.BeginForm())
        { 
            @Html.LabelFor(x => x.LicenseKey)
            @Html.TextBoxFor(model => model.LicenseKey, new {@readonly=true})

            @Html.LabelFor(x => x.LicenseLevel)
            <select name="LicenseLevel">
                @foreach (var lcLvl in licenseLevels)
                {
                    <option value=@lcLvl>@lcLvl</option>
                }
            </select>

            @Html.LabelFor(x => x.NumberOfLicensesAllowed)
            @Html.EditorFor(model => model.NumberOfLicensesAllowed)
            @Html.ValidationMessageFor(model=>model.NumberOfLicensesAllowed)
            
            @Html.LabelFor(x => x.OwnerDetails.OwnerFirstName)
            @Html.EditorFor(model => model.OwnerDetails.OwnerFirstName)
            
            @Html.LabelFor(x => x.OwnerDetails.OwnerLastName)
            @Html.EditorFor(model => model.OwnerDetails.OwnerLastName)
            
            @Html.LabelFor(x => x.OwnerDetails.OwnerAddress)
            @Html.EditorFor(model => model.OwnerDetails.OwnerAddress)

            @Html.LabelFor(x => x.OwnerDetails.City)
            @Html.EditorFor(model => model.OwnerDetails.City)

            @Html.LabelFor(x => x.OwnerDetails.State)
            @Html.EditorFor(model => model.OwnerDetails.State, new { @placeholder = "test" })

            @Html.LabelFor(x => x.OwnerDetails.ZipCode)
            @Html.EditorFor(model => model.OwnerDetails.ZipCode)
            @Html.ValidationMessageFor(x=>x.OwnerDetails.ZipCode)

            @Html.LabelFor(x => x.OwnerDetails.IsRegistered)
            @Html.EditorFor(model => model.OwnerDetails.IsRegistered)
            
            @Html.LabelFor(x => x.LicenseValidUntilCurrent)
            @Html.TextBoxFor(model => model.LicenseValidUntilCurrent, new { @id = "datepicker" })


            


            <input type="submit" value="Save" />
        }
    </div>
</p>

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>