﻿@model LiSense.LicenseDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.LicenseKey)
    @Html.EditorFor(x=>x.LicenseKey)
    @Html.ValidationMessageFor(model => model.LicenseKey)

    @Html.LabelFor(x => x.OwnerDetails.OwnerFirstName)
    @Html.EditorFor(x => x.OwnerDetails.OwnerFirstName)
    
    @Html.LabelFor(x => x.OwnerDetails.OwnerLastName)
    @Html.EditorFor(x => x.OwnerDetails.OwnerLastName)

    @Html.LabelFor(x => x.OwnerDetails.OwnerAddress)
    @Html.EditorFor(x => x.OwnerDetails.OwnerAddress)

    if (IsPost)
    {
        
        @ViewBag.Message
        <div class="content-wrapper">
            <hgroup class="message-success">
                @Html.DisplayForModel()
                @Html.DisplayFor(x=>x.OwnerDetails)
            </hgroup>
        </div>
       

        
    }

    <input type="submit" value="Find..." />
    
}
