﻿@model LiSense.Owner

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="field-validation-error">@ViewBag.Message</p>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Register" />
}
