﻿@model LiSense.LicenseDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error">@ViewBag.Message</div>

@using (Html.BeginForm())
{
    @Html.LabelFor(x=>x.LicenseKey)
    @Html.EditorFor(x => x.LicenseKey)
    
    <input type="submit" value="Validate" />
}

